{% extends 'base.html' %} {% block content %}
<div class="mt-5">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="nav-link form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="nav-link form-label"
      >Description</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="nav-link btn btn-primary">Submit</button>
  </div>
</div>

{% endblock content %}
